n8n/book-details-workflow.json
{
    "name": "Advanced Book Details Agent (With Search)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "book-details",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                220,
                300
            ],
            "webhookId": "book-details"
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "respond-node",
            "name": "Respond to App",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1400,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.title }} {{ $json.body.author }}",
                "options": {
                    "systemMessage": "You are an expert librarian and book curator. Your task is to find accurate and detailed information about the book specified by the user.\n\nCRITICAL: You MUST use the 'Google Custom Search' tool to verify facts, especially for less famous books. Do not rely solely on your memory.\n\nFind the following information:\n- Title (Arabic if possible, or translated)\n- Author\n- Category/Genre\n- Description (A compelling summary in Arabic, optimized for SEO, ~400 words)\n- Page Count (approximate is fine)\n- Publish Year\n- Language\n- Keywords (10-15 SEO tags)\n\nReturn the result as a valid JSON object matching the requested structure."
                }
            },
            "id": "ai-agent-node",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                820,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {}
            },
            "id": "openai-model-node",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                820,
                520
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {},
            "id": "google-search-tool",
            "name": "Google Custom Search",
            "type": "@n8n/n8n-nodes-langchain.toolGoogleCustomSearch",
            "typeVersion": 1,
            "position": [
                960,
                520
            ],
            "credentials": {
                "googleCustomSearchApi": {
                    "id": "YOUR_GOOGLE_SEARCH_CREDENTIAL_ID",
                    "name": "Google Custom Search account"
                }
            }
        },
        {
            "parameters": {
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\", \"description\": \"Book title in Arabic\" },\n    \"author\": { \"type\": \"string\", \"description\": \"Author name\" },\n    \"category\": { \"type\": \"string\", \"description\": \"Book genre or category\" },\n    \"description\": { \"type\": \"string\", \"description\": \"Engaging summary in Arabic\" },\n    \"pages\": { \"type\": \"number\", \"description\": \"Number of pages\" },\n    \"publishYear\": { \"type\": \"number\", \"description\": \"Year of publication\" },\n    \"language\": { \"type\": \"string\", \"description\": \"Language of the book\" },\n    \"keywords\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"SEO keywords\" }\n  },\n  \"required\": [\"title\", \"author\", \"description\"]\n}"
            },
            "id": "output-parser-node",
            "name": "Structured Output Parser",
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1,
            "position": [
                680,
                520
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_language_model": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_language_model",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Custom Search": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser": {
            "ai_output_parser": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_output_parser",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to App",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}